<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>Post | [[${dto.getName()}]]</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1 class="mt-4">Board</h1>
    <div class="card mb-4">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">imageUrl</label>
                    <input type="text" class="form-control" id="imageUrl" name="imageUrl" th:value="${dto.imageUrl}" disabled>
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">name</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${dto.name}" disabled>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">category</label>
                    <input type="text" class="form-control" id="category" name="category" th:value="${dto.category}" disabled>
                </div>

                <div class="mb-3">
                    <label for="star" class="form-label">name</label>
                    <input type="text" class="form-control" id="star" name="star" th:value="${dto.star}" disabled>
                </div>

                <div class="mb-3">
                    <label for="comment" class="form-label">name</label>
                    <input type="text" class="form-control" id="comment" name="comment" th:value="${dto.comment}" disabled>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">name</label>
                    <input type="text" class="form-control" id="location" name="location" th:value="${dto.location}" disabled>
                </div>

                <div class="mb-3">
                    <label for="createdAt" class="form-label">작성일</label> <input
                        type="text" class="form-control" id="createdAt" name="createdAt"
                        th:value="${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm')}" disabled>
                </div>

                <div class="mb-3">
                    <label for="writer" class="form-label">작성자</label> <input
                        type="text" class="form-control" id="writer" name="writer"
                        th:value="${dto.username}" disabled>
                </div>



                <a href="/post/list" class="btn btn-outline-secondary">list</a>

            </form>
        </div>
    </div>
</div>
</body>
</html>