<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>포스트 작성</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <form method="post" th:if="${dto == null}">
        <div class="form-group">
            <label class="form-label mt-4">포스트 작성</label>
            <div class="form-floating mb-3">
                <input type="text" name="imageUrl" class="form-control" id="floatingInput" placeholder="image">
                <label for="floatingInput">Image</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="name" class="form-control" id="floatingInput" placeholder="name">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="category" class="form-control" id="floatingInput" placeholder="category">
                <label for="floatingInput">Category</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="star" class="form-control" id="floatingInput" placeholder="star">
                <label for="floatingInput">Star</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="comment" class="form-control" id="floatingInput" placeholder="comment">
                <label for="floatingInput">Comment</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="location" class="form-control" id="floatingInput" placeholder="location">
                <label for="floatingInput">Location</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
