*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #3a3A3A;
}

/* body 전체 */
#container {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background-color: #e3e3e3;
}

/*헤더영역*/
header{
    width: 100%;
    height: 80px;
    /* display: grid;
    /* place-items: center; */ 
    background-color: #FFC900;
}

#filter-logo{
    float: right;
    height: 80px;
    padding: 0% 30%;
    text-align: center;
    line-height: 80px;
    color: #322828;
    font-size: 30px;
    /* font-family: ;
    font-weight: ; */
}

button{
    float: left;
    width: 50px;
    height: 80px;
    top: 0;
    border: none;
    background-color: transparent;
    color: #322828;
    font-weight: bold;
    font-size: 20px;
}

