*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #3a3A3A;
}

/* body 전체 */
#container {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background-color: #e3e3e3;
}

/*헤더영역*/
header{
    width: 100%;
    height: 80px;
    /* display: grid;
    /* place-items: center; */ 
    background-color: #FFC900;
}

#filter-logo{
    float: right;
    height: 80px;
    padding: 0% 30%;
    text-align: center;
    line-height: 80px;
    color: #322828;
    font-size: 30px;
    /* font-family: ;
    font-weight: ; */
}

button{
    float: left;
    width: 50px;
    height: 80px;
    top: 0;
    border: none;
    background-color: transparent;
    color: #322828;
    font-weight: bold;
    font-size: 20px;
}

/* 필터영역 */
form{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
    color: #322828;
    background-color: #e3e3e3;
}

.filter-h{
    width: 180px;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

.division-line{
    border-top: 1px solid #444444a6;
    margin: 10px 0px;
}

#allergy{
    padding-left: 20px;
    /* background-color: red; */
}


#kcal{
    padding-left: 20px;
    /* background-color: aqua; */
}

#dislike{
    padding-left: 20px;
    /* background-color: green; */
}

#end{
    width:100%;
    height: 50px;
    margin-top: 180px;
    text-align: center;
    color: #322828;
}

#reset {
    width: 100px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}

#submit{
    width: 100px;
    height: 35px;
    margin-left: 10px;
    padding: 5 10;
    cursor: pointer;
}
